* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 3s ease-out;
    animation: changeBackground 5s infinite alternate;
}

@keyframes changeBackground {
    0% {
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('roast.jpeg');
    }
    50% {
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('background.jpg');
    }
    100% {
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('chick.jpg');
    }
}

.navbar {
    position: relative;
    top: -90px; 
    width: 95%;
    margin: auto;
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 300px;
    cursor: pointer;

}

.content {
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 40px;

}

.content p{
    width: 85%;
    margin: 60px auto;
    font-weight: 300;
    line-height: 60px;
    font-size: 2.4rem;
    text-align: justify;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #ffffff 0%, #FFC800 29%, #FFA500 67%, #FFD700 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
  position: absolute; 
  top: -30px; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}